.bookmark {
	width: clamp(19px, 2.5vw, 35px);
	height: clamp(19px, 2.5vw, 35px);
	transition: fill 0.3s ease;
}

#checklist button {
	border-radius: 11px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	margin: 1vw;
}

#checklist button:hover {
	background-color: #8bc652;
	border: 2px solid #8bc652;
}

#checklist button.checked {
	background-color: #8bc652;
	border: 2px solid #8bc652;
}

#checklist button.unchecked {
	border: 2px solid #8bc652;
	background-color: transparent;
}

@media (max-width: 900px) {
	#checklist button {
		border-radius: 10px;
		padding: 6px;
	}
}
