/* Imagen principal */
.banner-image {
	width: 100vw;
	height: 50vh;
	object-fit: cover;
	border-radius: 0 0 20px 20px;
	margin: 0;
	display: block;
}

/* Fondo blanco para la página de la receta */
.recipe-body {
	background-color: #fffdfc;
	margin: 0;
}

/* Contenedor general del contenido */
#recipe-content {
	margin: 16px;
}

/* Sección superior: título y botón */
#top-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.top-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.recipe-title {
	font-family: 'Radio Canada', sans-serif;
	color: #00150f;
	font-size: 31px;
	margin: 12px 0 0 0;
}

.recipe-checkbutton {
	margin-left: 16px;
}

.recipe-time {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #6b6967;
	font-weight: 500;
	margin: 0;
}

.titulo-ingredientes {
	font-family: 'DM Sans', sans-serif;
	color: #00150f;
	text-align: left;
	font-size: 22px;
	font-weight: 600;
	margin: 16px 0 8px 0;
}

.recipe-grid {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.recipe-ingredients {
	text-align: left;
}

#ingredients {
	font-family: 'DM Sans', sans-serif;
	list-style: disc;
	color: #6b6967;
	font-size: 14px;
	font-weight: 300;
	padding-left: 16px;
	margin: 0;
	text-align: left;
}

/* Pasos */
.recipe-steps {
	text-align: left;
}

#steps {
	padding-left: 16px;
	margin: 0;
}

.recipe-steps-numbers {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #6b6967;
	font-weight: 500;
}

.recipe-steps-description {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #6b6967;
	text-align: left;
}

@media (min-width: 1000px) {
	#recipe-content {
		margin: 32px 80px;
	}

	.recipe-grid {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.recipe-ingredients,
	.recipe-steps {
		width: 48%;
	}

	.recipe-steps-ingredients {
		display: flex;
	}

	.recipe-ingredients-container {
		margin-right: 300px;
	}
	.recipe-steps-container {
		width: 48%;
	}
	.banner-image {
		height: 400px;
	}
}

@media (min-width: 600px) {
	#recipe-content {
		margin: 32px 80px;
	}

	.recipe-grid {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.recipe-ingredients,
	.recipe-steps-container {
		width: 48%;
	}

	.recipe-steps-ingredients {
		display: flex;
	}

	.recipe-ingredients-container {
		margin-right: 20%;
	}

	.banner-image {
		height: 400px;
	}
}
