.banner-image {
	width: 100vw;
	height: 50vw;
	
	object-fit: cover;
	border-radius: 0 0 20px 20px;
	margin: 0;
	display: block;
}

.recipe-body {
	background-color: #fffdfc;

	margin: 0;
}

#top-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.check-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.recipe-title {
	font-family: 'Radio Canada', sans-serif;
	color: #00150f;
	font-size: 31px;
	display: flex;
	text-align: left;
	margin: 12px 0px 0px 0px;
}

.recipe-time {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #6b6967;
	font-weight: 500;
	margin: 0px 0px 0px 0px;
}

.titulo-ingredientes {
	font-family: 'DM Sans', sans-serif;
	color: #00150f;
	text-align: left;
	font-size: 22px;
	font-weight: 600;
	margin: 8px 0px 8px 0px;
}

#ingredients {
	font-family: 'DM Sans', sans-serif;
	list-style: disc;
	text-align: left;
	color: #6b6967;
	font-size: 14px;
	font-weight: 300;
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
}

#recipe-content {
	margin-left: 16px;
}
.recipe-steps-description {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #6b6967;
	display: flex;
	text-align: left;
}
.recipe-steps-numbers {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	color: #6b6967;
	font-weight: 500;
}
.top-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
ol#steps {
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
}
.recipe-checkbutton {
	margin: 20px;
}
