.small-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: clamp(180px, 40vw, 300px);
	height: clamp(180px, 28vw, 200px);
	cursor: pointer;
	transition: transform 0.3s ease;
	scroll-snap-align: start;
	flex: 0 0 auto;
}

.small-card-image {
	width: 100%;
	height: clamp(120px, 50%, 120px);
	object-fit: cover;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.small-card-title {
	color: #6b6967;
	font-family: 'DM Sans', sans-serif;
	font-size: clamp(0.5rem, 2.5vw, 1rem);
	font-weight: 400;
	margin: 0 0 2px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.small-card-time {
	color: #6b6967a8;
	font-family: 'DM Sans', sans-serif;
	font-size: clamp(0.3rem, 1vw, 0.5rem);
	font-weight: 500;
	margin-bottom: 5px;
}
