.container-categories {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	width: 500px;
	padding: 6px 10px 6px 10px;
	background-color: #b5b2ae;
	border-radius: 10px;
	gap: 5px;
}

.container-categories::-webkit-scrollbar {
	display: none;
}

.top-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-input {
	width: 520px;
	height: 41px;
	border-radius: 12px;
	background-color: #fffdfc;
	border: 1.5px solid #d3d3d3;
	padding-left: 7px;
	font-size: 14px;
	margin-bottom: 12px;
}

.search-input::placeholder {
	color: #d3d3d3;
	padding-left: 10px;
	font-family: 'DM Sans', sans-serif;
	font-weight: 300;
}

.search-title {
	text-align: left;
	font-family: 'Radio Canada', sans-serif;
	margin-bottom: 18px;
	color: #00150f;
}
.search-empty {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	margin-top: 280px;
	padding: 0px 50px 0px 50px;
	font-weight: bold;
	color: #b5b2ae;
}
.search-ingredients {
	text-align: left;
	display: flex;
	margin: 10px 0 10px 0;
	gap: 5px;
}

.filters {
	text-align: left;
	display: flex;
}
