.container-categories {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	width: 510px;
	padding: 6px 10px 6px 10px;
	background-color: #b5b2ae;
	border-radius: 10px;
	gap: 5px;
}

.container-ingredients {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	width: 530px;
	border-radius: 10px;
	gap: 5px;
	margin: 10px 0 50px 0;
}

.container-categories::-webkit-scrollbar,
.container-ingredients::-webkit-scrollbar {
	display: none;
}

.top-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-input {
	width: 520px;
	height: 41px;
	border-radius: 12px;
	background-color: #fffdfc;
	border: 1px solid #b5b2ae;
	padding-left: 7px;
	font-size: 14px;
	margin-bottom: 12px;
	outline: none;
	box-sizing: border-box;
}

.search-input :focus {
	border: 1px solid #8bc652;
}

.search-input::placeholder {
	color: #d3d3d3;
	padding-left: 10px;
	font-family: 'DM Sans', sans-serif;
	font-weight: 300;
}

.search-title {
	text-align: left;
	font-family: 'Radio Canada', sans-serif;
	margin-bottom: 18px;
	color: #00150f;
}
.search-empty {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	margin-top: 280px;
	padding: 0px 50px 0px 50px;
	font-weight: bold;
	color: #b5b2ae;
}
.search-ingredients {
	text-align: left;
	display: flex;
	margin: 10px 0 30px 0;
	gap: 5px;
}

.filters {
	text-align: left;
	display: flex;
}

.results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
	gap: 32px;
	overflow-y: auto;
}

@media (max-width: 820px) {
	#search-container {
		margin: 0 40px 0 40px;
	}
	.container-categories {
		width: 650px;
		padding: 6px 10px 6px 10px;
		gap: 5px;
		justify-content: center;
	}

	.container-ingredients {
		width: 670px;
	}

	.search-input {
		width: 660px;
		height: 38px;
		border-radius: 12px;
	}

	.top-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.search-ingredients {
		margin: 13px 0 13px 0;
	}

	.results {
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		column-gap: 8px;
	}
}

@media (max-width: 768px) {
	#search-container {
		margin: 0;
	}

	.container-categories {
		width: 368px;
		padding: 6px 10px 6px 10px;
		gap: 5px;
		justify-content: flex-start;
	}

	.container-ingredients {
		width: 390px;
	}

	.results {
		gap: 10px;
	}

	.search-input {
		width: 378px;
		height: 38px;
		border-radius: 12px;
	}

	.top-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.search-ingredients {
		margin: 13px 0 13px 0;
	}
}
