.big-card {
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 369px;
	transition: transform 0.2s ease;
	cursor: pointer;
}
.big-card img {
	width: 369px;
	height: 119px;
	border-radius: 12px;
	aspect-ratio: 3 / 1;
	object-fit: cover;
	border-radius: 6px;
}

.big-card-title {
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	text-align: left;
	color: #6b6967;
	font-weight: 500;
	margin: 10px;
	margin-bottom: 0;
	width: 363px;
}
.big-card-time {
	color: #b5b2ae;
	font-family: 'DM Sans', sans-serif;
	font-weight: medium;
	font-size: 15px;
	text-align: left;
	margin: 10px;
	margin-top: 2px;
}

@media (max-width: 768px) {
	.big-card img {
		width: 246px;
		height: 80px;
	}

	.big-card {
		width: 246px;
	}

	.big-card-title {
		font-size: 11px;
	}

	.big-card-time {
		font-size: 9px;
	}
}
